.feynman {
    position: relative;
    height: 890px;
    padding: 0;
    background-color: #F2F2F2;
    background-image: url('../../images/images_sprint-1/feynman.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 867px 637px;
  }